<%= f.input :en_content, as: "ckeditor" %>
<%= f.input :se_content, as: "ckeditor" %>
<div class="form-actions">
	<%= f.button :submit, class: "btn btn-primary" %>
	<%= link_to "返回", admin_message_path(@category) %>
</div>