<div class="page-header">
	<h1>编辑<%= @category.en_name %>/<%= @category.se_name %>页面</h1>
</div>
<%= simple_form_for(@item, :url => admin_message_path(@item, :category_id => @category.id)) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>