#map_canvas {
	width: 620px;
	height: 544px;
}

#menu {
	
	.introduction {
		width: 100%;
		margin: 20px;
	}
	
	.order {
		margin: 20px;
		padding-left: 20px;
		background: #fffee3;
		.radio-toolbar input[type="radio"] {
			display:none;
		}

		.radio-toolbar label {
			display:inline-block;
			background-color: #ddd;
			padding: 4px 15px;
			font-family: Arial;
			font-size: 18px;
			height: 20px;
			line-height: 20px;
			margin-right: 30px;
		}

		.radio-toolbar input[type="radio"]:checked + label {
			background: image-url("check-bg.png");
			@include background-size(100% 28px);
		}
	}
	
	.btn {
		margin-left: 20px;
		width: 100px;
	}
}

#check {
	div {
		width: 95%;
		height: 100px;
		margin: 20px 0 0 0;
		padding: 10px 10px 10px 10px;
		font-size: 20px;
	}
}