#map_canvas {
	width: 620px;
	height: 544px;
}

#menu {
	
	.introduction {
		width: 100%;
		margin: 20px;
	}
	
	.order {
		margin: 20px;
		padding-left: 20px;
		background: #fffee3;
		.radio {
			float: left;
			min-width: 100px;
		}
	}
	
	.btn {
		width: 100px;
	}
	
}

#check {
	div {
		width: 95%;
		height: 100px;
		margin: 20px 0 0 0;
		padding: 10px 10px 10px 10px;
		font-size: 20px;
	}
}