#map_canvas {
	width: 760px;
	height: 544px;
}

#menu {
	
	.introduction {
		width: 100%;
		margin: 20px;
	}
	
	.order-title {
		margin-top: 20px;
		width: 30px; 
	}
	
	.order {
		padding-left: 20px;
		// background: #fffee3;
		.radio {
			float: left;
			min-width: 130px;
		}
		
		.checks {
			
			.radio-toolbar {
				width: 100%;
				display: block;
				margin: 1px;
			}
			
			.page-info {
				height: 30px;
				line-height: 30px;
				font-size: 20px;
				margin: 20px 0 10px 0;
			}
		}
	}
	
	
	.btn {
		width: 100px;
	}
	
	.cancel-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 128px;
		height: 128px;
		
		.trash-image {
			width: 128px;
			height: 128px;
			background: image-url("images/trash.png") no-repeat center center;
			@include background-size(40px 40px);
		}
	}
}

#check {
	div {
		width: 95%;
		height: 180px;
		margin: 20px 0 0 0;
		padding: 10px 10px 10px 10px;
		font-size: 20px;
	}
}

.loading {
	position: fixed;
	height: 235px;
	width: 235px;
	z-index: 1000;
	display: none;
	background: image-url("images/loading.gif") no-repeat center center;
}