<%= content_for :head do %>
  <%= stylesheet_link_tag "skin", :media => "all" %>
  <%= javascript_include_tag "jquery.jcarousel.min" %>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#mycarousel').jcarousel({
          scroll: 1
        });
    });
  </script>
<% end -%>
<div class="content">
  <ul id="mycarousel" class="jcarousel-skin-tango">
    <% @photos.each_with_index do |photo, index| %>
      <li><%= image_tag photo.poster_url(:thumb), :size => "800*500"%></li>
    <% end %>
  </ul>
</div>