<div id="check" class="content">
	<div class="label label-info">
		Ok! Your order is complete!
		<br/><br/>
		Your order is No.<%= Order.online.size - 1 %> in the queue.
		<br/><br/>
		Our staff will contact with you to confirm the order as soon as possible.
		<br/><br/>
		If there is no reply within 10 minutes. You can try to call us yourself. 
		<br/><br/>
		Our home delivery service is available from:
		<br/><br/>
		Monday ~ Thursday & Sunday 12:00-21:00
		<br/><br/>
		Friday & Saturday 15:00-24:00
	</div>
</div>